.row
  .large-4.columns
    description: 
    = budget_event.description
  .large-3.columns
    value: 
    = budget_event.value
  .large-4.columns
    day of month
    = budget_event.month_day
  .large-1.columns
    = form_tag "/events/#{budget_event.id}", method: 'DELETE' do
      %button.tiny.radius.alert
        delete
