.row
  .large-8.columns.large-centered.panel
    Welcome to WeSave.  This app is very much in limited Alpha.  I take all precautions to safegaurd your banking information.  I never store you personal passwords, pins or usernames.  I use that information to get a token from an api, I store that token.
.row
  - unless current_user.phone_number
    .large-6.columns.large-centered
      = form_for :user, url: update_user_path, method: :put do |f|
        = f.text_field :phone_number, placeholder: "your phone number"
        .center
          = f.submit "submit", class: "button success radius tiny"

  - if current_user.phone_number 
    - @institutions.each do |institution|
      .border
        %h3.center
          = institution.name
        - if institution && ! institution.account_of_concern
          Please select this institutions 'account of concern' it should be your primary checking account.
          = form_for :institution, url: update_institution_path(institution)  do |form|
            - institution.accounts.each do |account|
              .center
                = form.radio_button "account_of_concern", account.primary
                = account.name
            .center
              = form.submit "set account", class: "button success tiny radius center"
        - if institution.account_of_concern
          .center
            primary account is:
            = institution.account_of_concern
          .center
            = link_to "Add Budget Details", events_path, class: "button success radius small center"
    - if @institutions.empty?
      %h4.center
        = link_to "Add an account.", begin_path, class: "button radius success large"
